@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input spinners for centered inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  padding: 0.125rem 0.25rem;
  line-height: 1;
}
